<div class="marquee" aria-hidden="true">
  <div class="marquee__track">
    <div class="marquee__group">
      <span class="marquee__item">el caos més divertit</span>
      <span class="marquee__dot"></span>
      <span class="marquee__item marquee__item--hollow">l'embolic</span>
      <span class="marquee__dot"></span>
      <span class="marquee__item">cambrils</span>
      <span class="marquee__dot"></span>
    </div>
    <div class="marquee__group">
      <span class="marquee__item">el caos més divertit</span>
      <span class="marquee__dot"></span>
      <span class="marquee__item marquee__item--hollow">l'embolic</span>
      <span class="marquee__dot"></span>
      <span class="marquee__item">cambrils</span>
      <span class="marquee__dot"></span>
    </div>
  </div>
</div>
