<div class="bunting" data-bunting aria-hidden="true">
  <span class="bunting__wire"></span>
  <div class="bunting__flags">
    <span class="flag"></span>
    <span class="flag"></span>
    <span class="flag"></span>
    <span class="flag"></span>
    <span class="flag"></span>
    <span class="flag"></span>
    <span class="flag"></span>
    <span class="flag"></span>
    <span class="flag"></span>
    <span class="flag"></span>
    <span class="flag"></span>
    <span class="flag"></span>
    <span class="flag"></span>
    <span class="flag"></span>
    <span class="flag"></span>
    <span class="flag"></span>
    <span class="flag"></span>
    <span class="flag"></span>
    <span class="flag"></span>
    <span class="flag"></span>
    <span class="flag"></span>
    <span class="flag"></span>
  </div>
</div>
